.App {
  text-align: center;
}

p {
  color: #fff;
  padding: 20px;
  font-size: 18px;
}

.App-logo {
  padding-top: 50px;
  animation: App-logo-shake 7s infinite cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  height: 80px;
}

.App-header {
  height: 10px;
  background: linear-gradient(124deg, #ff2400, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3);
  background-size: 300% 300%;

  -webkit-animation: App-rainbow 10s ease infinite;
  -z-animation: App-rainbow 10s ease infinite;
  -o-animation: App-rainbow 10s ease infinite;
    animation: App-rainbow 10s ease infinite;

}

.App-title {
  color: #fff;
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: light;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes App-logo-shake {
  1%, 9% {
    transform: translate3d(-1px, 0, 0);
  }
  
  2%, 8% {
    transform: translate3d(2px, 0, 0);
  }

  3%, 5%, 7% {
    transform: translate3d(-4px, 0, 0);
  }

  4%, 6% {
    transform: translate3d(4px, 0, 0);
  }

}

@-webkit-keyframes App-rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes App-rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes App-rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes App-rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
