@font-face {
  font-family: 'Lineto Brown';
  src:  url('fonts/lineto-brown-regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lineto Brown';
  src:  url('fonts/lineto-brown-light.woff') format('woff');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Lineto Brown';
  src:  url('fonts/lineto-brown-thin.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lineto Brown';
  background-color:  #4a3d6b;
}
